/* ======================================
   RESET
====================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


#stickerContainer{

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    pointer-events:none;

    overflow:hidden;

    z-index:0;

}

.sticker{

    opacity:0;
    
    animation:
        fadeIn 1s forwards,

        float 4s ease-in-out infinite;

    position:absolute;

    width:clamp(40px, 10vw, 70px);


} 

@keyframes fadeIn{

    from{
        opacity:0;
        transform:scale(.8);
    }

    to{
        opacity:1;
        transform:scale(1);
    }

}

@keyframes float{

    0%{
        transform:translateY(0px) rotate(0deg);
    }

    50%{
        transform:translateY(-12px) rotate(4deg);
    }

    100%{
        transform:translateY(0px) rotate(0deg);
    }

}


/* ======================================
   BODY
====================================== */

body{
    background-image:url("images/RoseBGD.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    font-family:"Lora", serif;

    min-height:100vh;
}


#start{

    height:100vh;

    background:black;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    gap:25px;

}
#startBtn{

    background:none;

    border:none;

    color:white;

    font-size:2rem;

    letter-spacing:3px;

    cursor:pointer;

    animation:pulse 2s infinite;

}

@keyframes pulse{

    0%{
        opacity:.4;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:.4;
    }

}

/* ======================================
   HERO SECTION
====================================== */

#hero{

    height:100vh;

    display:none;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;

    padding:30px;

}

.heroCard{

    background: rgba(255,248,243,0.9);
    padding: 40px;
    border: 2px solid #f75777;
    border-radius: 25px;
    width: 90%;
    max-width: 750px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,.25);
    margin-bottom: 40px;
}


#hero h3{

    font-size:4rem;

    margin:14px 0;

    color:#fc839b;

    -webkit-text-stroke:2.7px #4B2E2E;

}




#hero p{

    font-size:2rem;

    margin-bottom:40px;

    color:#f75777;

    -webkit-text-stroke:.5px #4B2E2E;

}


/* ======================================
   LETTER SECTION
====================================== */

#letter{

    display:none;

    min-height:100vh;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    padding:30px;

    backdrop-filter:blur(5px);

}

#letter h2{

    font-size:3rem;

    margin-bottom:30px;

    color:#f75777;

    -webkit-text-stroke:.5px #4B2E2E;

}


/* ======================================
   LETTER PAGES
====================================== */

.page{

    display:none;

    opacity:0;

    transition:opacity .5s ease;

    background:rgba(255,248,243,.95);

    width:90%;

    min-height:100px;

    max-width:700px;

    padding:40px;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.25);
    
    position:relative;
}

#page0{

    display:block;

    opacity:1;

}

.page p{

    font-size:1.4rem;

    line-height:1.8;

    color:#5A3E36;

    -webkit-text-stroke:0;

}

.pageNumberP{
    
    position:absolute;

    bottom:12px;

    right:25px;

    font-size:1rem;

    color:#9C7A6E;
}


/* ======================================
   BUTTONS
====================================== */

button{

    border:none;

    background:white;

    color:#ff4f91;

    padding:16px 36px;

    border-radius:999px;

    font-size:1.1rem;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    transform:scale(1.05);

}

button:active{

    transform:scale(.95);

}

#nextBtn{

    margin-top:30px;

    padding: 15px 40px;

}

/* ======================================
ENDING
====================================== */

#ending{

    display:none;

    height:100vh;

    justify-content:center;
    align-items:center;

    background-image:
        linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)),
        url("images/RoseBGD.jpg");

    background-size:cover;
    background-position:center;

}

#typewriter{

    max-width:700px;

    font-size:2rem;

    color:white;

    line-height:1.8;

    white-space:pre-line;

}